<!DOCTYPE html>
<html lang="ru">
<head>
<title>Мебель Нобиллия</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />          
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />  
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico" />     
    <link rel="stylesheet" type="text/css" href="css/jquery.bxslider.css"/>
    <link rel="stylesheet" type="text/css" href="css/animations.css"/>  
    <link rel="stylesheet" type="text/css" href="css/jquery.fancybox.css"/> 
    <link rel="stylesheet" type="text/css" href="css/flexslider.css"/>  
    <link rel="stylesheet" type="text/css" href="css/grid.css"/> 
    <link rel="stylesheet" type="text/css" href="css/style.css"/> 
    <script src="js/jquery.js" type="text/javascript" charset="utf-8"></script>  
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;language=ru"></script>
    <script src="js/jquery.bxslider.js" type="text/javascript" charset="utf-8"></script>  
    <script src="js/jquery.fancybox.min.js" type="text/javascript" charset="utf-8"></script>  
    <script src="js/jquery.flexslider.js" type="text/javascript" charset="utf-8"></script>    
    <script src="js/jquery.validate.min.js" type="text/javascript" charset="utf-8"></script> 
    <script src="js/script.js" type="text/javascript" charset="utf-8"></script>
   
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if IE]>

        <link rel="stylesheet" href="css/css_ie.css" type="text/css" media="screen">    

        <script src="js/html5shiv.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/respond.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/PIE.js" type="text/javascript" charset="utf-8"></script> 
    <![endif]-->
     
</head>

<body>  							
    <div id="anchor2"></div>
    <section class="header header-in">
    <div class="nav-wrap">	
        <div class="wrapper">
            <div class="nav">
                <div class="nav-item-wrap">
                    <div class="nav__item active">
                        <a href="" class="nav__item-link nav__item-link-dropdown">Каталог кухонь</a>
                        <div class="nav__item-dropdown">
                            <ul>
                                <li><a href="">Светлое дерево</a></li>
                                <li><a href="">Темное дерево</a></li>
                                <li><a href="">Белый/Ваниль/Кофе</a></li>
                                <li><a href="">Высокий Глянец</a></li>
                                <li><a href="">Цветные</a></li>
                                <li><a href="">Кантри</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="nav-item-wrap">
                    <div class="nav__item">
                        <a href="" class="nav__item-link nav__item-link-dropdown">Материалы</a>
                        <div class="nav__item-dropdown">
                            <ul>
                                <li><a href="">Светлое дерево</a></li>
                                <li><a href="">Темное дерево</a></li>
                                <li><a href="">Белый/Ваниль/Кофе</a></li>
                                <li><a href="">Высокий Глянец</a></li>
                                <li><a href="">Цветные</a></li>
                                <li><a href="">Кантри</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="nav-item-wrap">
                    <div class="nav__item">
                        <a href="" class="nav__item-link nav__item-link-dropdown">проекты</a>
                        <div class="nav__item-dropdown">
                            <ul>
                                <li><a href="">Светлое дерево</a></li>
                                <li><a href="">Темное дерево</a></li>
                                <li><a href="">Белый/Ваниль/Кофе</a></li>
                                <li><a href="">Высокий Глянец</a></li>
                                <li><a href="">Цветные</a></li>
                                <li><a href="">Кантри</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="nav-item-wrap"><div class="nav__item"><a href="" class="nav__item-link">о компании</a></div></div>
                <div class="nav-item-wrap"><div class="nav__item"><a href="" class="nav__item-link">акции</a></div></div>
                <div class="nav-item-wrap"><div class="nav__item"><a href="" class="nav__item-link">контакты</a></div></div>
            </div>
            <div class="logo-field">
                <div class="logo">
                    <a href="index.html"><img src="images/logo.png" alt=""></a>
                </div>
                <div class="phone">
                    <i class="icon icon-phone"></i><a href="tel:+73952500225">8 (3952) 500-225</a>
                </div>
            </div>
        </div>
    </div>
	</section>
    <div class="clear"></div>

    <section class="content content-in">
        <div id="anchor1"></div>
        <div class="wrapper">
            <div class="grayline-wrap breadcrumbs">
                <ul class="grayline-list">
                    <li><a href="">Главная</a></li>
                    <li class="sep">/</li>
                    <li><a href=""> Каталог</a></li>
                    <li class="sep">/</li>
                    <li class="active">Кухни с фасадами Castello</li>
                </ul>
            </div>
            <div class="clear"></div>
            <div class="cart">
                <div class="cart-col-image">
                    <div class="cart-slider-wrap">
                        <div class="cart-slider flexslider" id="js-cart-slider">
                            <ul class="slides slides-radius">
                                <li class="cart-slider__item">
                                    <img src="images/temp/cart/slider/img1.jpg" alt="">
                                    <div class="cart-slider__item-hover fancyimage" data-fancybox-href='images/temp/cart/slider/img1.jpg' data-fancybox-group='cart'></div>
                                </li>
                                <li class="cart-slider__item">
                                    <img src="images/temp/cart/slider/img1.jpg" alt="">
                                    <div class="cart-slider__item-hover fancyimage" data-fancybox-href='images/temp/cart/slider/img2.jpg' data-fancybox-group='cart'></div>
                                </li>
                                <li class="cart-slider__item">
                                    <img src="images/temp/cart/slider/img1.jpg" alt="">
                                    <div class="cart-slider__item-hover fancyimage" data-fancybox-href='images/temp/cart/slider/img1.jpg' data-fancybox-group='cart'></div>
                                </li>
                                <li class="cart-slider__item">
                                    <img src="images/temp/cart/slider/img1.jpg" alt="">
                                    <div class="cart-slider__item-hover fancyimage" data-fancybox-href='images/temp/cart/slider/img1.jpg' data-fancybox-group='cart'></div>
                                </li>
                                <li class="cart-slider__item">
                                    <img src="images/temp/cart/slider/img1.jpg" alt="">
                                    <div class="cart-slider__item-hover fancyimage" data-fancybox-href='images/temp/cart/slider/img1.jpg' data-fancybox-group='cart'></div>
                                </li>
                                <li class="cart-slider__item">
                                    <img src="images/temp/cart/slider/img1.jpg" alt="">
                                    <div class="cart-slider__item-hover fancyimage" data-fancybox-href='images/temp/cart/slider/img1.jpg' data-fancybox-group='cart'></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="cart-slider-thumbnail thumbnail-slider flexslider" id="js-cart-slider-thumbnail">
                        <ul class="slides slides-radius">
                                <li class="cart-slider__item"><a href="">
                                    <img src="images/temp/cart/thumbs/thumb1.png" alt="">
                                    <div class="cart-slider__item-hover"></div></a>
                                </li>
                                <li class="cart-slider__item"><a href="">
                                    <img src="images/temp/cart/thumbs/thumb1.png" alt="">
                                    <div class="cart-slider__item-hover"></div></a>
                                </li>
                               <li class="cart-slider__item"><a href="">
                                    <img src="images/temp/cart/thumbs/thumb1.png" alt="">
                                    <div class="cart-slider__item-hover"></div></a>
                                </li>
                                <li class="cart-slider__item"><a href="">
                                    <img src="images/temp/cart/thumbs/thumb1.png" alt="">
                                    <div class="cart-slider__item-hover"></div></a>
                                </li>
                                <li class="cart-slider__item"><a href="">
                                    <img src="images/temp/cart/thumbs/thumb1.png" alt="">
                                    <div class="cart-slider__item-hover"></div></a>
                                </li>
                                <li class="cart-slider__item"><a href="">
                                    <img src="images/temp/cart/thumbs/thumb1.png" alt="">
                                    <div class="cart-slider__item-hover"></div></a>
                                </li>
                            </ul>
                    </div>
                    <div class="clear"></div>
                    <div class="cart-slider-title hr"><div class="cart-slider-title__title">фасады</div></div>
                    <div class="thumbnail-slider flexslider" id="js-cart-faces-slider">
                        <ul class="slides slides-faces">
                                <li class="cart-slider__item">
                                    <a href="images/temp/cart/faces/img1.jpg" class="fancyimage"><img src="images/temp/cart/faces/img1.jpg" alt="">
                                        <div class="cart-slider__item-hover"></div></a>
                                </li>
                                <li class="cart-slider__item">
                                    <a href="images/temp/cart/faces/img2.jpg" class="fancyimage"><img src="images/temp/cart/faces/img2.jpg" alt="">
                                        <div class="cart-slider__item-hover"></div></a>
                                </li>
                               <li class="cart-slider__item">
                                    <a href="images/temp/cart/faces/img3.jpg" class="fancyimage"><img src="images/temp/cart/faces/img3.jpg" alt="">
                                        <div class="cart-slider__item-hover"></div></a>
                                </li>
                                <li class="cart-slider__item">
                                   <a href="images/temp/cart/faces/img4.jpg" class="fancyimage"><img src="images/temp/cart/faces/img4.jpg" alt="">
                                        <div class="cart-slider__item-hover"></div></a>
                                </li>
                                <li class="cart-slider__item">
                                    <a href="images/temp/cart/faces/img1.jpg" class="fancyimage"><img src="images/temp/cart/faces/img1.jpg" alt="">
                                        <div class="cart-slider__item-hover"></div></a>
                                </li>
                                <li class="cart-slider__item">
                                    <a href="images/temp/cart/faces/img2.jpg" class="fancyimage"><img src="images/temp/cart/faces/img2.jpg" alt="">
                                        <div class="cart-slider__item-hover"></div></a>
                                </li>
                            </ul>
                    </div>
                    <div class="cart-slider-title hr"><div class="cart-slider-title__title cart-color">Цвета</div></div>
                    <div class="thumbnail-slider flexslider" id="js-cart-color-slider">
                        <ul class="slides slides-radius">
                                <li class="cart-slider__item">
                                    <img src="images/temp/cart/colors/img1.jpg" alt="">
                                </li>
                                <li class="cart-slider__item">
                                    <img src="images/temp/cart/colors/img2.jpg" alt="">
                                </li>
                               <li class="cart-slider__item">
                                    <img src="images/temp/cart/colors/img3.jpg" alt="">
                                </li>
                                <li class="cart-slider__item">
                                    <img src="images/temp/cart/colors/img4.jpg" alt="">
                                </li>
                                 <li class="cart-slider__item">
                                    <img src="images/temp/cart/colors/img4.jpg" alt="">
                                </li>
                            </ul>
                    </div>
                </div>
                <div class="cart-col-caption">
                    <h2>Кухни с фасадами Gloss</h2>
                    <div class="articul-wrap hr"><div class="articul">Артикул:  <span>6548</span></div></div>
                    <div class="price-block">
                        <div class="col_6 col-image">
                            <a href="images/temp/cart/item1-avatar.png" class="fancyimage"><img src="images/temp/cart/item1-avatar.png" alt="">
                            <div class="cart-slider__item-hover"></div></a>
                        </div>
                        <div class="col_6 col-price">
                            <div class="price-field">63 800 <span>руб.</span></div>
                            <p>Цена указана за стандартную
                                комплектацию.  Доступен заказ
                                в гипермаркетах
                            </p>
                            <div class="btn popup-show">заказать бесплатный<i><br></i> замер</div>
                        </div>
                    </div>
                    <p class="cart-description">Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий обеспечивает широкому кругу (специалистов) участие в формировании системы обучения кадров, соответствует насущным потребностям. Не следует, однако забывать, 
что новая модель организационной деятельности играет важную 
роль в формировании модели развития. </p>
                    <h5>Состав стандартной  комплектации</h5>
                    <div class="cart-description-table">  
                        <table>
                            <thead>
                                <tr>
                                    <td width="82%">наименование товара</td>
                                    <td width="18%">кол-во</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Максимальная производительность, л/мин</td>
                                    <td>44</td>
                                </tr>
                                <tr>
                                    <td>Максимальная высота подъема, м</td>
                                    <td>3</td>
                                </tr>
                                <tr>
                                    <td>Максимальная глубина всасывания, м</td>
                                    <td>5</td>
                                </tr>
                                <tr>
                                    <td>Диаметр впускной/выпускной, мм</td>
                                    <td>55</td>
                                </tr>

                                <tr>
                                    <td>Максимальный размер пропусаемых частиц, мм</td>
                                    <td>341</td>
                                </tr>

                                <tr>
                                    <td>Вес, кг</td>
                                    <td>66</td>
                                </tr>
                                <tr>
                                    <td>Габариты, мм</td>
                                    <td>122</td>
                                </tr>
                                 <tr>
                                    <td>Расход топлива, л/ч</td>
                                    <td>3</td>
                                </tr>
                                 <tr>
                                    <td>Продолжительность работы на одном блоке, ч.</td>
                                    <td>12</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clear"></div>
    <section class="footer footer-in"> 
        <div class="footer-wrap"> 	
            <div class="wrapper">
                <div class="copy">Разработка сайта P&P</div>
                <div class="grayline-wrap">
                    <ul class="grayline-list">
                        <li><a href="">Рассчитать стоимость</a></li>
                        <li class="sep">|</li>
                        <li><a href="">Сотрудничество</a></li>
                        <li class="sep">|</li>
                        <li><a href="">Скачать каталоги</a></li>
                    </ul>
                    <div class="grayline-facebook"><div class="facebook-icon"><a href=""></a></div></div>
                </div>
            </div>
            <div class="back-button-wrap"><div class="back-button"><a href="#anchor2">наверх</a></div></div>
        </div>
	</section> 

    <section class="popup">
        <div class="overlay">
            <div class="popup-form">
                <div class="popup-form__title">Получить консультацию</div>
                <form action="" method="POST" name="form">
                    <div class="form-input-wrap"><input type="text" name="name" placeholder="Ваше имя"></div>
                    <div class="form-input-wrap"><input type="text" name="phone" placeholder="Ваш телефон"></div>
                    <div class="form-input-wrap"><input type="email" name="email" placeholder="Ваш E-mail"></div>
                    <textarea name="comment" id="comment" cols="30" rows="10" placeholder="Комментарий"></textarea>
                    <input type="submit" class="btn submit-btn" value="Отправить">
                </form> 
                <div class="close-popup"></div>
            </div>
        </div>
    </section>
</body>
</html>