.reveal-modal-bg {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #000;
	background: rgba(0,0,0,.4);
	z-index: 1;
	top: 0;
	left: 0;
}

.modal{
	position: fixed;
	top: 10%;
	right: 0;
	left: 0;
	margin: auto;
	width: 300px;
	display: none;
	z-index: 2;
}

.modal .close{
	float: right;
	cursor: pointer;
	padding: 5px;
	background: #E52222;
	color: #fff;
}

.modal {
    background: #FFF;
}

