<!DOCTYPE html>
<html lang="ru">
<head>
<title>Заголовок окна</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />		    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />	
	<meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico" />    
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/media.css"/>
	<script src="js/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/jquery.powerful-placeholder.js" type="text/javascript" charset="utf-8"></script>          
    <script src="js/script.js" type="text/javascript" charset="utf-8"></script>
   
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if IE]>

        <link rel="stylesheet" href="css/css_ie.css" type="text/css" media="screen">    

        <script src="js/html5shiv.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/respond.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/textshadow.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/PIE.js" type="text/javascript" charset="utf-8"></script> 
    <![endif]-->
     
</head>

<body>  							
  
    <section class="header">		
	</section> 
	
    <section class="content">
    <div class="wrapper">
        <ul>
            <li><a href="http://jimhucksly.esy.es/mebelNobilia/index_.html">Главная</a></li>
            <li><a href="http://jimhucksly.esy.es/mebelNobilia/cart.html">Карточка</a></li>
            <li><a href="http://jimhucksly.esy.es/mebelNobilia/catalog.html">Каталог</a></li>
            <li><a href="http://jimhucksly.esy.es/mebelNobilia/projects.html">Проекты</a></li>
        </ul> 
    </div> 	    
	</section> 
       
    <section class="footer">    	
	</section> 
</body>
</html>