<!DOCTYPE html>
<html lang="ru">
<head>
<title>Мебель Нобиллия</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />          
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" /> 
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico" />     
    <link rel="stylesheet" type="text/css" href="css/jquery.bxslider.css"/>
    <link rel="stylesheet" type="text/css" href="css/animations.css"/>  
    <link rel="stylesheet" type="text/css" href="css/flexslider.css"/>  
    <link rel="stylesheet" type="text/css" href="css/grid.css"/> 
    <link rel="stylesheet" type="text/css" href="css/style.css"/> 
    <script src="js/jquery.js" type="text/javascript" charset="utf-8"></script>  
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;language=ru"></script>
    <script src="js/jquery.bxslider.js" type="text/javascript" charset="utf-8"></script>  
    <script src="js/jquery.flexslider.js" type="text/javascript" charset="utf-8"></script>    
    <script src="js/jquery.validate.min.js" type="text/javascript" charset="utf-8"></script> 
    <script src="js/script.js" type="text/javascript" charset="utf-8"></script>
   
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if IE]>

        <link rel="stylesheet" href="css/css_ie.css" type="text/css" media="screen">    

        <script src="js/html5shiv.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/respond.js" type="text/javascript" charset="utf-8"></script>
        <script src="js/PIE.js" type="text/javascript" charset="utf-8"></script> 
    <![endif]-->
     
</head>

<body>  							
    <div id="anchor2"></div>
    <section class="header header-in">
    <div class="nav-wrap">	
        <div class="wrapper">
            <div class="nav">
                <div class="nav-item-wrap">
                    <div class="nav__item active">
                        <a href="" class="nav__item-link nav__item-link-dropdown">Каталог кухонь</a>
                        <div class="nav__item-dropdown">
                            <ul>
                                <li><a href="">Светлое дерево</a></li>
                                <li><a href="">Темное дерево</a></li>
                                <li><a href="">Белый/Ваниль/Кофе</a></li>
                                <li><a href="">Высокий Глянец</a></li>
                                <li><a href="">Цветные</a></li>
                                <li><a href="">Кантри</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="nav-item-wrap">
                    <div class="nav__item">
                        <a href="" class="nav__item-link nav__item-link-dropdown">Материалы</a>
                        <div class="nav__item-dropdown">
                            <ul>
                                <li><a href="">Светлое дерево</a></li>
                                <li><a href="">Темное дерево</a></li>
                                <li><a href="">Белый/Ваниль/Кофе</a></li>
                                <li><a href="">Высокий Глянец</a></li>
                                <li><a href="">Цветные</a></li>
                                <li><a href="">Кантри</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="nav-item-wrap">
                    <div class="nav__item">
                        <a href="" class="nav__item-link nav__item-link-dropdown">проекты</a>
                        <div class="nav__item-dropdown">
                            <ul>
                                <li><a href="">Светлое дерево</a></li>
                                <li><a href="">Темное дерево</a></li>
                                <li><a href="">Белый/Ваниль/Кофе</a></li>
                                <li><a href="">Высокий Глянец</a></li>
                                <li><a href="">Цветные</a></li>
                                <li><a href="">Кантри</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="nav-item-wrap"><div class="nav__item"><a href="" class="nav__item-link">о компании</a></div></div>
                <div class="nav-item-wrap"><div class="nav__item"><a href="" class="nav__item-link">акции</a></div></div>
                <div class="nav-item-wrap"><div class="nav__item"><a href="" class="nav__item-link">контакты</a></div></div>
            </div>
            <div class="logo-field">
                <div class="logo">
                    <a href="index.html"><img src="images/logo.png" alt=""></a>
                </div>
                <div class="phone">
                    <i class="icon icon-phone"></i><a href="tel:+73952500225">8 (3952) 500-225</a>
                </div>
            </div>
        </div>
    </div>
	</section>
    <div class="clear"></div>

    <section class="content content-in projects-content">
        <div id="anchor1"></div>
        <div class="catalog projects">
            <div class="projects__title">наши выполненные проекты</div>
            <div class="wrapper">
                <div class="catalog-row">
                    <div class="catalog-row__item item-image">
                        <div class="cart-slider projects-slider flexslider" id="js-projects-slider">
                            <ul class="slides">
                                <li class="cart-slider__item"><img src="images/temp/projects/slider1/img1.jpg" alt=""></li>
                                <li class="cart-slider__item"><img src="images/temp/projects/slider1/img1.jpg" alt=""></li>
                                <li class="cart-slider__item"><img src="images/temp/projects/slider1/img1.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>
                    <div class="catalog-row__item item-caption">
                        <div class="number">01</div>
                        <h3>Каталог кухонь<span class="sep">/</span><a href="">смотреть</a></h3>
                        <p>Теперь выбрать кухню стало проще и доступнее перейдите в каталог и выберите понравившеюся кухню, определитесь с цветом, по размерам и срокам доставки Вы можете уточнить у нашего менеджера. </p>
                        <hr>
                        <div class="reviews__title"><h3>Отзывы клиентов</h3></div>
                        <div class="review">С другой стороны постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы обучения кадров, соответствует насущным... <span><a href="">читать весь отзыв</a></span></div>
                        <div class="review__author">Иван Ивановский, Иркутск, 26 л.</div>
                        <div class="btn need-help-btn review-more"><a href="">подробнее</a></div>
                    </div>
                </div>
                <div class="catalog-row">
                    <div class="catalog-row__item item-image">
                        <div class="cart-slider projects-slider flexslider" id="js-projects-slider">
                            <ul class="slides">
                                <li class="cart-slider__item"><img src="images/temp/projects/slider2/img1.jpg" alt=""></li>
                                <li class="cart-slider__item"><img src="images/temp/projects/slider2/img1.jpg" alt=""></li>
                                <li class="cart-slider__item"><img src="images/temp/projects/slider2/img1.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>
                    <div class="catalog-row__item item-caption">
                        <div class="number">02</div>
                        <h3>Каталог кухонь<span class="sep">/</span><a href="">смотреть</a></h3>
                        <p>Теперь выбрать кухню стало проще и доступнее перейдите в каталог и выберите понравившеюся кухню, определитесь с цветом, по размерам и срокам доставки Вы можете уточнить у нашего менеджера. </p>
                        <hr>
                        <div class="reviews__title"><h3>Отзывы клиентов</h3></div>
                        <div class="review">С другой стороны постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы обучения кадров, соответствует насущным... <span><a href="">читать весь отзыв</a></span></div>
                        <div class="review__author">Иван Ивановский, Иркутск, 26 л.</div>
                        <div class="btn need-help-btn review-more"><a href="">подробнее</a></div>
                    </div>
                </div>
                <div class="catalog-row">
                    <div class="catalog-row__item item-image">
                        <div class="cart-slider projects-slider flexslider" id="js-projects-slider">
                            <ul class="slides">
                                <li class="cart-slider__item"><img src="images/temp/projects/slider3/img1.jpg" alt=""></li>
                                <li class="cart-slider__item"><img src="images/temp/projects/slider3/img1.jpg" alt=""></li>
                                <li class="cart-slider__item"><img src="images/temp/projects/slider3/img1.jpg" alt=""></li>
                            </ul>
                        </div>
                    </div>
                    <div class="catalog-row__item item-caption">
                        <div class="number">03</div>
                        <h3>Каталог кухонь<span class="sep">/</span><a href="">смотреть</a></h3>
                        <p>Теперь выбрать кухню стало проще и доступнее перейдите в каталог и выберите понравившеюся кухню, определитесь с цветом, по размерам и срокам доставки Вы можете уточнить у нашего менеджера. </p>
                        <hr>
                        <div class="reviews__title"><h3>Отзывы клиентов</h3></div>
                        <div class="review">С другой стороны постоянный количественный рост и сфера нашей активности играет важную роль в формировании системы обучения кадров, соответствует насущным... <span><a href="">читать весь отзыв</a></span></div>
                        <div class="review__author">Иван Ивановский, Иркутск, 26 л.</div>
                        <div class="btn need-help-btn review-more"><a href="">подробнее</a></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="wrapper">
                <div class="pager-wrap projects-pager">
                    <div class="pager-title">
                        страницы:
                    </div>
                    <div class="pager-list">
                        <a href="" class="pager_link pager_link-prev"></a>
                        <ul>
                            <li class="pager_link active"><a href="javascript: void(0);">1</a></li>
                            <li class="pager_link"><a href="">2</a></li>
                            <li class="pager_link"><a href="">3</a></li>
                            <li class="pager_link"><a href="">4</a></li>
                            <li class="pager_link"><a href="">5</a></li>
                        </ul>
                        <a href="" class="pager_link pager_link-next"></a>
                    </div>
                </div>
             </div>
        </div>   
        </div>
    </section>
    <div class="clear"></div>
    <section class="footer footer-in"> 
        <div class="footer-wrap"> 	
            <div class="wrapper">
                <div class="copy">Разработка сайта P&P</div>
                <div class="grayline-wrap">
                    <ul class="grayline-list">
                        <li><a href="">Рассчитать стоимость</a></li>
                        <li class="sep">|</li>
                        <li><a href="">Сотрудничество</a></li>
                        <li class="sep">|</li>
                        <li><a href="">Скачать каталоги</a></li>
                    </ul>
                    <div class="grayline-facebook"><div class="facebook-icon"><a href=""></a></div></div>
                </div>
            </div>
            <div class="back-button-wrap"><div class="back-button"><a href="#anchor2">наверх</a></div></div>
        </div>
	</section> 

    <section class="popup">
        <div class="overlay">
            <div class="popup-form">
                <div class="popup-form__title">Получить консультацию</div>
                <form action="" method="POST" name="form">
                    <div class="form-input-wrap"><input type="text" name="name" placeholder="Ваше имя"></div>
                    <div class="form-input-wrap"><input type="text" name="phone" placeholder="Ваш телефон"></div>
                    <div class="form-input-wrap"><input type="email" name="email" placeholder="Ваш E-mail"></div>
                    <textarea name="comment" id="comment" cols="30" rows="10" placeholder="Комментарий"></textarea>
                    <input type="submit" class="btn submit-btn" value="Отправить">
                </form> 
                <div class="close-popup"></div>
            </div>
        </div>
    </section>
</body>
</html>