@charset "utf-8";

/********for Opera 10+ only*******/

@font-face {
    font-family: 'PFBeau SansPro Bold';
    src: url('../fonts/PFBeauSansPro-Bold.eot');
    src: url('../fonts/PFBeauSansPro-Bold.eot?#iefix') format('embeded-opentype');
    src: local('☺'), url('../fonts/PFBeauSansPro-Bold.woff') format('woff'), 
        url('../fonts/PFBeauSansPro-Bold.svg') format('svg'), 
        url('../fonts/PFBeauSansPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFBeau SansPro LightItalic';
    src: url('../fonts/PFBeauSansPro-LightItalic.eot');
    src: url('../fonts/PFBeauSansPro-LightItalic.eot?#iefix') format('embeded-opentype');
    src: local('☺'), url('../fonts/PFBeauSansPro-LightItalic.woff') format('woff'), 
        url('../fonts/PFBeauSansPro-LightItalic.svg') format('svg'), 
        url('../fonts/PFBeauSansPro-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFBeau SansPro Light';
    src: url('../fonts/PFBeauSansPro-Light.eot');
    src: url('../fonts/PFBeauSansPro-Light.eot?#iefix') format('embeded-opentype');
    src: local('☺'), url('../fonts/PFBeauSansPro-Light.woff') format('woff'), 
        url('../fonts/PFBeauSansPro-Light.svg') format('svg'), 
        url('../fonts/PFBeauSansPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova Regular';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embeded-opentype');
    src: local('☺'), url('../fonts/ProximaNova-Regular.woff') format('woff'), 
        url('../fonts/ProximaNova-Regular.svg') format('svg'), 
        url('../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



/*=================== CSS RESET ==================*/

* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
*:before,
*:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    height: 100%;
    overflow-y: scroll;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub,
sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, 
hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}	
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

BODY {
    font-family: 'PFBeau SansPro Light', Arial, sans-serif; font-size: 15px; font-weight: normal; font-style: normal;
    line-height: 18px; margin: 0px; padding: 0px; width: 100%; min-width: 1000px;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, dl, ol, ul, hr, p, pre, table, address, fieldset {
    margin: 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
    font-family: inherit; font-family: 'PFBeau SansPro Bold'; 
    line-height: 1.25; color: inherit; text-transform: uppercase; letter-spacing: 1px;
}

h1, .h1{
    font-size: 36px; margin-bottom: 30px;
}

h2, .h2{
    font-size: 28px; margin-bottom: 20px;
}

h3, .h3{
    font-size: 24px; margin-bottom: 18px;
}

h4, .h4{
    font-size: 20px; margin-bottom: 18px;
}

h5, .h5{
    font-size: 18px; margin-bottom: 25px;
}

h6, .h6{
    font-size: 12px;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
    content: ''; content: none;
}

dl {
    position: relative;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 0;
}

table {
    border-collapse: collapse; border-spacing: 0; width: 100%; 
}

table thead {
    font-family: 'PFBeau SansPro Bold'; font-size: 14px; text-transform: uppercase; letter-spacing: 2px;
}

table thead tr td,table thead tr th {
    line-height: 53px; border-bottom: 1px solid #626569;
}

table tbody tr {
    line-height: 38px; border-bottom: 1px solid #626569;
}

table tbody tr:last-child {
    border-bottom: none;
}

table tbody tr td:last-child {
    padding-left: 23px;
}

hr {
    border: 0 #6a6e71 solid; border-top-width: 1px; clear: both; height: 0; width: 228px; margin-bottom: 25px; text-align: left;
}

.hr {
    background: url(../images/hr.png) left center repeat-x;
}

a {
    color: #006cd0; text-decoration: none; border-bottom: #cce2f6 solid 1px;
}

a:hover,
a:focus{
    text-decoration: none; border-bottom: none;
}
a:hover {

}

a:hover, 
a:active,
a:focus {
    outline: none;
}

a img{
    border:none;
}

img {
    vertical-align: middle;
}

p {
    font-family: 'PFBeau SansPro Light';
    color:#000;
    margin-bottom: 16px;
}

.clear{
    height: 1px;
    margin-top: -1px;
    clear:both;
}

.justifyfix {
    text-align: justify;
}

.justifyfix:after {
    content: '';
    display: inline-block;
    width: 100%;
    overflow: hidden;
    visibility: hidden;
}

.nowrap{
    white-space: nowrap;
}

.icon {
    display: inline-block; 
    vertical-align: middle; 
    position: relative;
}

.icon-services {
    width: 65px;
    height: 46px;
    background: url('../images/icons.png') no-repeat;
}

.icon-services-1 {
    background-position: 0 0;
}

.clearfix:after {
    content: ""; display: table; clear: both;
}

.form-row{
    margin-bottom: 0px;
}

.check-row{
    position: relative; display: block; margin-top: 10px; margin-bottom: 10px;
}

.check-row label {
    display: inline-block; min-height: 20px; padding-left: 20px; cursor: pointer;
}

.check-row input {
    position: absolute; top: 4px; left: 0;
}

.form-label{
    display: inline-block; max-width: 100%; margin-bottom: 5px; font-weight: 700;
}

form {
    position: relative;
    width: 100%;
}

input:focus, 
select:focus, 
textarea:focus, 
button:focus {
    outline: 0;
}

input[type=text],
input[type=email],
input[type=password],
input[type=file],
textarea,
select{
    display: block; width: 100%; height: 54px; padding: 6px 17px; margin-bottom: 20px;
    font-size: 15px; color: #000; border: 1px solid #ccc; background-color: #fff; border-radius: 6px; 
}


input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=file]:focus,
textarea:focus,
select:focus{
    border-color: #000;
}

input[type=text].error,
input[type=email].error,
input[type=password].error,
input[type=file].error,
textarea.error,
select.error{
    border-color: #ff0000;
}

input[type=file]{
    padding: 5px;
}

select{
    padding: 2px 2px 2px 10px;
}

textarea{
    height: 134px; max-width: 100%; min-width: 100%; padding-top: 16px; font-family: 'PFBeau SansPro Light'; font-size: 15px;
}

-webkit-input-placeholder {color: #a1a1a1;}
-moz-placeholder {color: #a1a1a1;}
-moz-placeholder {color: #a1a1a1;}
-ms-input-placeholder {color: #a1a1a1;}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder {color: transparent}
:focus:-moz-placeholder{color: transparent}
:focus:-ms-input-placeholder{color: transparent}

.btn{
    height: 48px; width: 100%; line-height: 48px; font-size: 13px; color: #fff; font-family: 'PFBeau SansPro Bold';
    background: #e70027; border-radius: 8px; 
    text-align: center; text-decoration: none; display: inline-block; vertical-align: middle; 
    white-space: nowrap; cursor: pointer; text-transform: uppercase;
}

.btn:hover{
    background: linear-gradient(to top, rgba(175,1,31,1) 0%, rgba(231,0,39,1) 100%);
}

.btn:active{
    background: linear-gradient(to bottom, rgba(175,1,31,1) 0%, rgba(231,0,39,1) 100%);
    border-bottom: 1px solid #dc5d73;
}

.submit-btn {
    height: 62px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 62px;
    border: none;
}

form label {
    position: absolute; right: 0; top: -16px; font-size: 13px; color: #ff0000;

}

.wrapper{
    position: relative; width: 86.73091178650852%; margin: 0 auto; z-index: 99; max-width: 1400px;
}

/*-----------CONTENT-------------*/

.header {
    position: relative;
    overflow: hidden;
}

.nav-wrap {
    height: 110px;
    background: rgba(247,247,246,0.85);
    width: 100%;
    position: absolute;
    top: 32px;
    z-index: 99;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 999;
}

.nav {
    position: relative;
    width: 800px;
    float: left;
    white-space: nowrap;
}

.nav-item-wrap {
    height: 110px;
    /*float: left;*/
    padding-top: 38px;
    cursor: pointer;
    display: inline-block;
}

.nav-item-wrap:hover .nav__item .nav__item-dropdown {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn; 

    animation-duration: 0.3s;   
    -webkit-animation-duration: 0.3s;

    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     

    visibility: visible !important; 
}

@keyframes fadeIn {
    0% {
        opacity: 0;       
    }
    100% {
        opacity: 1; 
    }       
}

.nav-item-wrap:hover .nav__item .nav__item-link-dropdown:after {
    background-position: center bottom;  
}

.nav__item {
    position: relative;
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin-top: -7px;
    float: left;
    background: transparent;
    padding: 0 16px 0 16px;
    border-radius: 8px;
}

.nav__item.active {
}

.nav__item.active .nav__item-link {
    color: #e70027;
    border: none;
}

.nav__item.active:hover .nav__item-link {
    color: #e70027;
}

.nav__item.active .nav__item-link:after {
    background-position: left bottom;
}

.nav__item.active:hover .nav__item-link:after {
    background-position: left bottom;
}

.nav__item-link {
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #b5b5b4;
    font-family: 'PFBeau SansPro Bold';
    line-height: 16px;
}

.nav-item-wrap:hover .nav__item-link {
    color: #ff0731;
    border-bottom: 1px solid #ff0731;
}



.nav__item-link-dropdown:after {
    content: '';
    display: block;
    float: right;
    width: 8px;
    height: 6px;
    background: url(../images/down.png) top no-repeat; 
    margin-left: 16px;
    margin-top: -28px;
}

.nav__item-dropdown {
    position: absolute;
    overflow: hidden;
    display: block;
    visibility: hidden;
    top: 79px;
    left: -42px;
    width: 253px;
    background: rgba(247,247,246,0.85);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding-left: 43px;
    padding-bottom: 20px;
}

.nav__item-dropdown ul li {
    text-align: left;
    margin-bottom: 22px;
    line-height: 18px;
}

.nav__item-dropdown ul li a {
    font-family: 'ProximaNova Regular';
    font-size: 16px;
    line-height: 18px;
    color: #000;
    border: none;
    text-decoration: none;
}

.nav__item-dropdown ul li a:hover {
    color: #ff0731;
    text-decoration: underline;
}

.logo-field {
    position: relative;
    float: right;
    padding-right: 9px;
    margin-top: 38px;
}

.logo a {
    border: 0;
}

.phone {
    position: absolute;
    display: inline-block;
    font-family: 'PFBeau SansPro Bold';
    font-size: 20px;
    line-height: 37px;
    bottom: -73px;
    right: -25px;
    width: 245px;
    height: 38px;
    padding-left: 19px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background: rgba(247,247,246,0.85);
}

.phone a {
    border: none;
    color: inherit;
}

.icon-phone {
    width: 21px;
    height: 21px;
    background: url(../images/icon-phone.png) no-repeat;
    margin-right: 10px;
}

.nav-wrap-2 {
    position: fixed;
    top: 0;
    height: 62px;
    box-shadow: 0 3px 2px 0 rgba(237,237,237,0.9);
    z-index: 999;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    background: rgba(255,255,255,1);
}

.nav-wrap-2 .nav-item-wrap {
    height: 62px;
    padding-top: 17px;
}

.nav-wrap-2 .nav {
    width: 680px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.nav-wrap-2 .nav .nav__item {
    margin-top: 5px;
    padding: 0 12px 0 10px;
    height: 35px;
    line-height: 35px;
    margin-top: -4px;
}

.nav-wrap-2 .nav .nav__item-link {
    font-size: 13px;
}

.nav-wrap-2 .nav .nav__item-link:after {
    margin-top: 14px;
}

.nav-wrap-2 .logo-field {
    float: right;
    padding: 0;
    width: 335px;
    margin-top: 17px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.nav-wrap-2 .logo {
    width: 135px;
    display: block;
    float: left;
}

.nav-wrap-2 .logo img {
    max-width: 100%;
    height: auto;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.nav-wrap-2 .phone {
    display: block;
    position: relative;
    width: 180px;
    float: right;
    top: 0;
    right: 0;
    bottom: 0;
    padding-left: 0;
    font-size: 16px;
    background: transparent;
}

.nav-wrap-2 .nav__item-dropdown {
    top: 49px;
    background: #fff;
}

.main-gallery {
    position: relative;
    width: 100%;
    z-index: 1;
}

.main-gallery__slider-item {
    width: 100%;
}

.main-gallery__slider-item .item-fon {
    position: relative;
    width: 100%;
    height: 100%;
}

.main-gallery__slider-item[aria-hidden=false] .item-fon {
    -webkit-transition: all 5.8s;
    -moz-transition: all 5.8s;
    -ms-transition: all 5.8s;
    -o-transition: all 5.8s;
    transition: all 5.8s;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
}

.main-gallery__slider-item[aria-hidden=true] .item-fon {
    -webkit-transition: all 8s;
    -moz-transition: all 8s;
    -ms-transition: all 8s;
    -o-transition: all 8s;
    transition: all 8s;
}

.main-gallery__slider-item .item-wrap {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 76px;
    z-index: 1200;
}

.main-gallery__slider-item-caption {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 500px;
    height: auto;
    padding: 36px;
    background: rgba(247,247,246,0.85);
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    -ms-border-radius: 26px;
    -o-border-radius: 26px;
    border-radius: 26px;
    -webkit-box-shadow: 0 0 24px 8px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 24px 8px rgba(0,0,0,0.3);
    -ms-box-shadow: 0 0 24px 8px rgba(0,0,0,0.3);
    -o-box-shadow: 0 0 24px 8px rgba(0,0,0,0.3);
    box-shadow: 0 0 24px 8px rgba(0,0,0,0.3);
}

.learn-more {
    font-family: 'PFBeau SansPro Bold';
    font-size: 12px;
    color: #e70027;
    text-transform: uppercase;
    border: none;
    text-decoration: underline;
    line-height: 14px;
    letter-spacing: 1px;
    float: right;
}

.mouse-wrap {
    position: absolute;
    bottom: 100px;
    left: 0;
    width: 100%;
    height: 1px;
}

.mouse-wrap .wrapper {
    height: 1px;
}

.animate-mouse {
    position: relative;
    width: 30px;
    height: 75px;
    margin: 0 auto;
    overflow: hidden;
    top: -40px;
}

.animate-mouse a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.mouse {
    width: 26px;
    height: 50px;
    background: url(../images/mouse.png) center center no-repeat;
    margin: 0 auto;
    margin-top: 23px;
    animation: jump 1.5s infinite;
}

@keyframes jump {
    0% {
        margin-top: 0;
    }
    50% {
        margin-top: 23px;
    }
    100% {
        margin-top: 0;
    }
}

.grayline {
    position: relative;
    height: 60px;
    width: 100%;
    background: url(../images/grayline-bg.png) repeat;
}

.copy {
    color: #fff;
    line-height: 60px;
    display: inline-block;
}

.grayline-wrap {
    float: right;
}

.grayline-wrap ul {
    float: left;
    margin-right: 15px;
}

.grayline-wrap ul li {
    display: inline-block;
    line-height: 60px;
    color: #fff;
    margin: 0 4px;
}

.grayline-wrap ul li a {
    color: #fff;
    text-decoration: none;
    border: none;
}

.grayline-wrap ul li a:hover {
    text-decoration: underline;
}

.sep {
    color: #fff;
    margin:0 4px;
}

.grayline-facebook {
    width: 31px;
    height: 31px;
    float: right;
    margin-top: 14px;
}

.facebook-icon {
    width: 31px;
    height: 31px;
    background: url(../images/social-icons.png) no-repeat;
    background-position: right top;
}

.facebook-icon:hover {
    background-position: right bottom;
}

.facebook-icon a {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}

.content {
    position: relative;
    z-index: 10;
}

.catalog {
    position: relative;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 58px;
    z-index: 10;
}

.catalog-row {
    overflow: hidden;
    clear: both;
    float: none;
}

.news .catalog-row {
    border-radius: 10px;
    margin-bottom: 30px;
}

.catalog-row__item {
    overflow: hidden;
    width: 50%;
    height: 285px;
}

.item-image {
    float: left;
    position: relative;
}

.news .item-image {
    width: 30%;
    height: 285px;
    background-size: cover !important;
    background-position: 50% 50% !important;
}

.news .item-image img{
    display: none;
}

.item-image img {
    min-width: 100%;
    height: auto;
}

.item-image-arrow {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 45%;
    right: -20px;
    background: url(../images/catalog-photo-hover.png) no-repeat;
}

.item-caption {
    float: right;
    text-align: left;
    background: #fafafa;
    padding-top: 77px;
    padding-left: 40px;
}

.news .item-caption {
    padding: 30px;
    width: 70%;
}

.news .btn.need-help-btn.review-more {
    float: right;
}

.js-item-image,
.js-item-caption {
    visibility: hidden;
}

.item-caption h3 {
    text-transform: none;
}

.news .item-caption h3 {
    color: #060606;
}

.item-caption .sep {
    color: #e70027;
    font-size: 20px;
}

.item-caption a {
    font-family: 'PFBeau SansPro Bold';
    font-size: 12px;
    color: #e70027;
    text-decoration: underline;
    border: none;
    text-transform: uppercase;
    line-height: 24px;
}

.item-caption a:hover {
    text-decoration: none;
}

.item-caption p {
    padding-right: 30px;
}

.news .diskrNews {
    min-height: 100px;
    max-height: 100px;
    overflow: hidden;
}

.catalog-row:nth-of-type(2n) .item-image {
    float: right;
}


.catalog-row:nth-of-type(2n) .item-image .item-image-arrow {
    right: auto;
    left: -20px;
}

.catalog-row:nth-of-type(2n) .item-caption {
    float: left;
}

.footer {
    position: relative;
    background: url(../images/footer-bg-image.png) no-repeat;
    background-size: cover;
}

.footer-wrap {
    width: 100%;
    overflow: hidden;
    background: url(../images/grayline-bg.png) repeat;
}

.contacts {
    background-size: cover;
    color:#fff;
}

.contacts-title {
    width: 100%;
    height: 180px;
    font-family: 'PFBeau SansPro Bold';
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    line-height: 180px;
}

.contacts-field {
    position: relative;
    background: rgba(92,96,100,0.8);
    padding-top: 70px;
    padding-bottom: 112px;
}

.map-canvas {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -115px;
    width: 100%;
    height: 100%;
    z-index: 99;
    overflow: hidden;
    color: #000;
}

#map {
    width: 100%;
    height: 100%;
    margin-left: -30%;
}

.company {
    font-family: 'PFBeau SansPro Bold';
    font-size: 28px;
    line-height: 37px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.contacts h3 {
    font-family: 'PFBeau SansPro Bold';
    font-size: 28px;
    line-height: 37px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.contacts-field__row {
    padding-bottom: 25px;
}

.contacts-field__row-title {
    font-family: 'PFBeau SansPro Bold';
    font-size: 13px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 13px;
}

.contacts-field__row-desc {
    display: block;
    line-height: 20px;
}

.contacts-field__row-desc a {
    color: #fff;
    border: none;
}

.contacts-field__row-desc a:hover {
    text-decoration: underline;
}

.social-block {
    position: relative;
    overflow: hidden;
    padding-top: 14px;
}

.social-block__button {
    float: left;
    margin-right: 5px;
}

.social-block__button a {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}

.vk-icon {
    width: 31px;
    height: 31px;
    background: url(../images/social-icons.png) left top;
}

.vk-icon:hover {
    background-position: left bottom;
}

.twitter-icon {
    width: 31px;
    height: 31px;
    background: url(../images/social-icons.png) center top;
}

.twitter-icon:hover {
    background-position: center bottom;
}

.footer-block {
    position: relative;
    height: 137px;
    z-index: 9;
}

.footer .copy {
    line-height: 137px;
}

.footer .grayline-wrap ul  li {
    line-height: 137px;
}

.footer .grayline-wrap.iner ul  li {
    line-height: 60px;
}

.footer .grayline-wrap ul li a:hover {
    color: #db2840;
}

.footer .grayline-facebook {
    margin-top: 52px;
}

.back-button-wrap {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.back-button {
    position: relative;
    width: 54px;
    height: 37px;
    top: 52px;
    margin: 0 auto;
    text-align: center;
    background: url(../images/back-button-arrow.png) center top no-repeat;
}

.back-button a {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 15px;
    color: #fff;
    border: none;
}

/*------ internal pages --------------*/

.header-in {
    position: relative;
    padding-top: 47px;
    background: url(../images/header-in-bg.png) center top no-repeat;
    background-size: 100% 100%;
    height: 246px;
    z-index: 999;
    overflow: visible;
}

.content-in {
    background: #575c60;
    overflow: hidden;
}

.breadcrumbs {
    float: left;
    color: #fff;
}

.cart {
    color: #fff;
}

.cart-col-image {
    width: 51.28%;
    float: left;
}

.cart-col-caption {
    width: 48.72%;
    float: left;
    padding-left: 40px;
    padding-right: 22px;
}

.cart-col-caption p {
    color: #fff;
}

.articul-wrap {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.articul {
    width: 125px;
    float: left;
    background: #575c60;
}

.articul span {
    font-family: 'PFBeau SansPro Bold';
}

.price-block {
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}

.price-block .col-image a {
    position: relative;
    display: inline-block;
    border: none;
}

.price-block .col-image .cart-slider__item-hover {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.price-block .col-image:hover .cart-slider__item-hover {
    opacity: 1;
}

.price-block .col-image a {
    position: relative;
    max-width: 100%;
}

.price-block .col-image a img {
    max-width: 100%;
}

.price-field {
    font-size: 30px;
    margin-bottom: 20px;
}

.price-field span {
    font-size: 20px;
}

.col-price {
    padding-top: 5px;
    padding-left: 18px;
}

.col-price p {
    color: #fff;
    margin-bottom: 20px;
}

.cart-description {
    width: 95%;
    margin-bottom: 35px;
}

.cart-description-table {
    width: 100%;
    padding: 0 28px;
    background: #505458;
    border-radius: 8px;
    padding-bottom: 23px;
    margin-right: 22px;
    margin-bottom: 123px;
}

.cart-description-table.iner {
    padding-bottom: 10px;
}

.cart-slider__item {
    position: relative;
    background: transparent;
    /*border-radius: 8px;*/
}

.cart-slider {
    background: transparent;
    height: 485px;
}

.thumbnail-slider {
    padding: 0 30px;
    background: transparent;
}

.thumbnail-slider .slides .cart-slider__item {
    height: 78px;
    position: relative;
    text-align: center;
}

.thumbnail-slider .slides .cart-slider__item a {
    display: inline-block;
    position: relative;
    border: none;
    height: 100%;
}

.thumbnail-slider .slides .cart-slider__item a img {
    max-width: 120px;
}

.thumbnail-slider .slides .cart-slider__item a .cart-slider__item-hover {
    display: inline-block;
    width: 100%;
    height: 100%;
}


.thumbnail-slider .slides .cart-slider__item img {
    height: 100%;
}

.cart-slider__item-hover {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    width: 120px;
    height: 78px;
    border-radius: 8px;
    border: 2px solid #fff;
    background: url(../images/eye.png) center center no-repeat;
    background-color: rgba(255,0,0,0.6);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
}

.cart-slider .slides .cart-slider__item .cart-slider__item-hover {
    width: 100%;
    height: 100%;
}

.cart-slider__item:hover .cart-slider__item-hover {
    opacity: 1;
}

.cart-slider-title {
    width: 100%;
}

.cart-slider-title__title {
    font-family: 'PFBeau SansPro Bold';
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    width: 97px; 
    background: #575c60;
    margin-bottom: 20px;
}

.cart-color {
    width: 67px;
}

#js-cart-faces-slider .cart-slider__item {
    height: 115px;
}

#js-cart-faces-slider .cart-slider__item img {
    width: auto;
}

#js-cart-slider .cart-slider__item {
    height: 485px!important;
    background-size: cover !important;
    background-position: 50% 50% !important;
    border-radius: 5px;
}

#js-cart-slider .cart-slider__item img{
    display: none;
}

#js-cart-slider .cart-slider__item img {
    height: 485px!important;
}

.footer-in {
    height: 60px;
    background-image:  none;
}

.footer-in .copy {
    line-height: 60px;
}

.footer-in .grayline-list li {
    line-height: 60px;
}

.footer-in .grayline-facebook {
    margin-top: 14px;
}

.footer-in .back-button-wrap {
    top: -40px;
}

.catalog-wrap {
    position: relative;
    width: 100%;
    z-index: 99;
}

.bg-1 {
    position: absolute;
    top: 0;
    left: 0;
    background: #45484b;
    z-index: 1;
    width: 20%;
    height: 100%;
}

.catalog-sidebar {
    display: table-cell;
    width: 25.6410%;
    float: left;
    background: #45484b;
}

.catalog-content {
    display: table-cell;
    width: 74.3590%;
    float: right;
    color: #fff;
    padding-top: 10px;
    padding-left: 30px;
}

.iner{
    /*font-size: 0px;*/
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.iner .catalog-content {
    background: #fff;
}

.iner .catalog-sidebar{

}

.iner .grayline-list li a {
    color: #373A3C;
}

.iner .grayline-list li {
    color: #373A3C;
}

.iner h2 {
    color: #373A3C;
}

.catalog-content .breadcrumbs {
    font-size: 13px;
}

.catalog-content .breadcrumbs li {
    line-height: 45px;
}

.catalog-content__catalog {
    width: 100%;
}

.catalog-content__catalog-item {
    position: relative;
    height: 262px;
    width: 31.360946%;
    display: inline-block;
    margin-bottom: 26px;
    border-radius: 12px;
    border: 3px solid #575c60;
    cursor: pointer; 
}

.catalog-item__caption {
    background: #fff;
    position: absolute;
    vertical-align: middle;
    width: 100%;
    bottom: 0;
    left: 0;
    min-height: 62px;
    padding: 19px 23px 15px 23px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    text-align: center;
    z-index: 99;
}

.catalog-item__caption-link {
    color: #000;
    text-decoration: underline;
    border: none;
    vertical-align: middle;
}

.catalog-item__caption-link:hover {
    text-decoration: none;
}

.catalog-item__caption-hover {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    padding-top: 60px;
    border-radius: 12px;
    background: rgba(0,0,0,0.2);
}

.hover-icon {
    width: 120px;
    height: 80px;
    margin: 0 auto;
    background: url(../images/eye.png) center top no-repeat;
    text-align: center;
    padding-top: 45px;
}

.hover-icon a {
    font-family: 'PFBeau SansPro Bold'; 
    color: #fff;
    text-transform: uppercase;
    border: none;
    text-decoration: none;
}

.hover-icon a:hover {
    text-decoration: underline;
}

.catalog-content__catalog-item:hover {
    border: 3px solid #e70027;
}

.catalog-content__catalog-item:hover .catalog-item__caption-hover {
    display: block;
}

/*------------ sidemenu -------------------*/

.sidemenu {
    position: relative;
    width: 100%;
    margin-bottom: 100px;
}

.sidemenu__item {
    position: relative;
    width: 100%;
    display: block;
    line-height: 58px;
    background: #373a3c;
    overflow: hidden;
    border-bottom: 3px solid #45484b;
}

.sidemenu__item:last-child {
    border-bottom: none;
}

.sidemenu__item-link {
    position: relative;
    display: table;
    overflow: hidden;
    width: 100%;
    height: 58px;
    border-left: 5px solid #303234;
    border-bottom: none;
    font-family: 'PFBeau SansPro Bold';
    font-size: 14px;
    line-height: 13px;
    color: #fff;
    text-transform: uppercase;
    padding-left: 17px;
    padding-right: 60px;
    text-decoration: underline;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.sidemenu__item-link:hover {
    text-decoration: none;
    background: #303234;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.sidemenu__item-link span {
    display: table-cell;
    vertical-align: middle;
    line-height: 18px;
}

.sidemenu__item-count {
    width: 40px;
    height: 23px;
    position: absolute;
    right: 15px;
    top: 18px;
    border-radius: 12px;
    background: #4b4e50;
    text-align: center;
    line-height: 23px;
    color: #fff;
}

.sidemenu__item.active .sidemenu__item-link {
    background: #fff;
    border-left: 5px solid #e70027;
    color: #000;
}

.sidemenu__item.active .sidemenu__item-count {
    background: #e70027;
}

.sidemenu__item-dropbox {
    display: none;
    position: relative;
    width: 100%;
    float: none;
    clear: both;
    color: #fff;
    background: #3e4143;
    padding-left: 34px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.sidemenu__item-dropbox ul li {
    list-style: url(../images/sidemenu-marker.png);
}

.sidemenu__item-dropbox ul li a {
    display: block;
    height: 43px;
    line-height: 43px;
    color: #fff;
    border: none;
    text-decoration: underline;
}

.sidemenu__item-dropbox ul li a span {
    display: inline-block;
    vertical-align: middle;
    line-height: 17px;
    text-decoration: underline;
}

.sidemenu__item-dropbox ul li a:hover,.sidemenu__item-dropbox ul li.active a {
    color: #ff4e6c;
}

.sidemenu__item-dropbox ul li:hover {
    list-style: url(../images/sidemenu-marker-act.png);
}

.need-help {
    width: 100%;
    background: #575c60 url(../images/need-help-bg.png) no-repeat;
    background-size: 100% 100%;
    color: #fff;
    padding: 44px 33px 48px 28px;
}

.need-help__title {
    font-family: 'PFBeau SansPro Bold';
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.manager-call {
    margin-bottom: 28px;
}

.need-help-btn {
    background: transparent;
    border: 4px solid #e70027;
    height: 58px;
    line-height: 55px;
}

.need-help-btn:hover {
    background: #e70027;
}

/*--------------- pager ------------------*/

.pager-wrap {
    width: 100%;
    height: 42px;
    text-align: center;
    margin-bottom: 51px;
    /*white-space: nowrap;*/
}

.pager-wrap .cont{
    display: inline-block;
    width: auto;
    white-space: nowrap;
}

.pager-wrap .list{
    white-space: nowrap; 
}

.pager-wrap ul{
    display: inline-block;
    vertical-align: top;
}

.pager-title {
    font-family: 'PFBeau SansPro Bold';
    font-size: 12px;
    width: 80px;
    text-transform: uppercase;
    float: left;
    line-height: 42px;
    margin-right: 17px;
}

.pager_link {
    width: 38px;
    height: 42px;
    display: block;
    display: inline-block;
    border: none;
    text-align: center;
    background-color: #fff;
    border-right: 1px solid #f2f2f2;
}

.pager_link:last-child {
    border-right: none;
}


.pager_link a {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    line-height: 42px;
    font-family: 'PFBeau SansPro Bold';
    color: #000;
}

.pager_link.active a {
    color: #e70027;
}

.pager_link.active a:hover {
    background-color: #fff;
}

.pager_link a:hover {
    background-color: #f8f8f8;
}

.pager_link-prev {
    background: url(../images/pager-nav.png) left bottom no-repeat;
}

.pager_link-next {
    background: url(../images/pager-nav.png) right bottom no-repeat;
}

.pager_link-prev:hover {
    background-position: left top;
}

.pager_link-next:hover {
    background-position: right top;
}

/*--------------- pager ends ----------------*/

.projects-content {
    padding-bottom: 0;
}

.projects {
    padding-top: 55px;
    padding-bottom: 0;
}

.projects .wrapper {
    margin-bottom: 52px;
}

.projects__title {
    font-family: 'PFBeau SansPro Bold';
    font-size: 32px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 55px;
}

.projects .catalog-row__item {
    height: 460px;
}

.projects-slider {
    height: 460px;
}

#js-projects-slider .cart-slider__item {
    height: 460px!important;
    position: 50% 50% !important;

}

#js-projects-slider .cart-slider__item img{
    display: none;

}

#js-projects-slider .cart-slider__item img {
    height: 460px!important;
}

.projects .item-caption {
    padding-top: 28px;
    padding-right: 43px;
}

.number {
    font-family: 'PFBeau SansPro Bold';
    font-size: 24px;
    color: #cecece;
    margin-bottom: 13px;
}

.projects .item-caption hr {
    width: 100%;
    border: 0 #e5e5e5 solid; 
    border-top-width: 1px; 
    margin-bottom: 18px;
}

.reviews__title:before {
    content: '';
    display: block;
    float: left;
    width: 19px;
    height: 18px;
    margin-top: 5px;
    margin-right: 18px;
    background: url(../images/quote-img.gif) no-repeat;
}

.review {
    position: relative;
    font-family: 'PFBeau SansPro LightItalic';
    color: #8c8c8c;
    padding-right: 35px;
    max-height: 55px;
    overflow: hidden;
    margin-bottom: 13px;
}

.review span {
    position: absolute;
    display: inline-block;
    bottom: -3px;
    right: 14px;
    background: #FAFAFA;
    height: 22px;
    padding-left: 10px;
}

.review a {
    text-transform: none;
    font-size: 15px;
    line-height: 15px;
    font-family: 'PFBeau SansPro LightItalic';
}

.review__author {
    color: #8c8c8c;
    margin-bottom: 26px;
}

.review__author:before {
    content: '';
    width: 18px;
    height: 1px;
    display: block;
    float: left;
    background: url(../images/review-author-marker.png) no-repeat;
    margin-top: 8px;
    margin-left: 9px;
    margin-right: 9px;
}

.review-more {
    position: relative;
    color: #e70027;
    width: 178px;
    height: 48px;
    border: 2px solid #e70027;
}

.review-more a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 44px;
    text-decoration: none;
}

.review-more a:hover {
    color: #fff;
}

.projects-pager {
    width: 390px;
    margin: 0 auto;
    padding: 0;
    color: #fff;
}

/*------------ popup --------------*/

.popup {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
    display: none;
}

.overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(87,92,96,0.8);
    overflow: hidden;

}

.popup-form {
    position: relative;
    width: 530px;
    height: 600px;
    background: #fff;
    border-radius: 12px;
    left: 50%;
    margin-left: -265px;
    padding: 50px 90px 0 100px;
}

.secses {
position: fixed;
left: 0;
top: 10%;
width: 100%;
z-index: 10000;
display: none;
height: 100%;
}

.secses .popup-form{
    height: 300px;
}

.popup-form__title {
    font-family: 'PFBeau SansPro Bold';
    font-size: 24px;
    text-align:center;
    margin-bottom: 36px;
}

.form-input-wrap {
    position: relative;
}

.close-popup {
    width: 32px;
    height: 32px;
    position: absolute;
    right: -45px;
    top: 0;
    background: url(../images/close-popup.png) center center no-repeat;
    cursor: pointer;
    animation-name: rotate-right;
    -webkit-animation-name: rotate-right;
    animation-duration: 0.2s; 
    -webkit-animation-duration: 0.2s;
}

.close-popup:hover {
    animation-name: rotate-left;
    -webkit-animation-name: rotate-left;

    animation-duration: 0.2s; 
    -webkit-animation-duration: 0.2s;
}

@keyframes rotate-left {
    0% {
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg);
    }
    50% {
        -webkit-transform: rotate(50deg);
        transform: rotate(50deg);
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

@keyframes rotate-right {
    0% {
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    50% {
        -webkit-transform: rotate(-50deg);
        transform: rotate(-50deg);
    }
    100% {
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
}

/*-----------popup ends ------------------*/

/*--------------- catalog popup ------------*/

.catalog-popup {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
    display: none;
}

.catalog-popup .popup-form {
    width: 88.20512820512821%;
    position: relative;
    height: 575px;
    background: #fff;
    border-radius: 12px;
    left: 0;
    margin: 0 auto;
    padding: 0;
    box-shadow: 0px 0px 15px 8px rgba(0,0,0,0.3); 
}

.popup-form-slider {
    position: relative;
    width: 68.313%;
    float: left;
    height: 100%;
}

#js-catalog-slider .popup-slider__item {
    height: 575px;
    width: 100%;
    background-size: cover !important;
    background-position: 50% 50% !important;
}

#js-catalog-slider .popup-slider__item img{
    display: none;
}

#js-catalog-slider .popup-slider__item img {
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.popup-form-slider .cart-slider .flex-viewport {
    height: 575px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.popup-form-slider .cart-slider .flex-viewport .slides {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.popup-form-slider .cart-slider-thumbnail {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 460px;
    background: url(../images/grayline-bg.png) repeat;
    margin-bottom: 0;
    padding-top: 19px;
    padding-bottom: 19px;
    border-radius: 0;
    border-bottom-left-radius: 7px;
    border-top-right-radius: 8px;
}

.popup-form-slider .thumbnail-slider .slides .cart-slider__item {
    height: 58px;
}

.popup-form-slider .thumbnail-slider .slides .cart-slider__item a .cart-slider__item-hover {
    border-radius: 0;
    background-size: 40% 40%;
}

.popup-form-slider .thumbnail-slider .flex-direction-nav .flex-prev {
    left: 5px;
}

.popup-form-slider .thumbnail-slider .flex-direction-nav .flex-next {
    right: 5px;
}

.popup-form-sidebar {
    padding: 45px 20px 0px 30px;
    width: 31.687%;
    float: left;
}

.popup-form-sidebar h4 {
    letter-spacing: 0;
}

.popup-form-sidebar p {
    font-size: 13px;
    margin-bottom: 25px;
}

.learn-more-btn {
    width: 100%;
    padding-right: 42px;
    margin-bottom: 20px;
}

.learn-more-btn .btn {
    height: 58px;
    line-height: 58px;
}

.learn-more-btn .btn a {
    display: block;
    height: 100%;
    width: 100%;
    color: #fff;
    text-decoration: none;
    border: none;
}

.need-help-btn-wrap {
    padding-right: 42px;
}

.need-help-btn-wrap .need-help-btn {
    border: 2px solid #333;
    color: #333;
}

.need-help-btn-wrap .need-help-btn:hover {
    background: #333;
    color: #fff;
}

.close-catalog-popup {
    position: absolute;
    right: -43px;
    top: 0;
    width: 32px;
    height: 32px;
    background: url(../images/close-catalog-popup.png) center center no-repeat;
    cursor: pointer;
    animation-name: rotate-right;
    -webkit-animation-name: rotate-right;
    animation-duration: 0.2s; 
    -webkit-animation-duration: 0.2s;
}

.close-catalog-popup:hover {
    animation-name: rotate-left;
    -webkit-animation-name: rotate-left;

    animation-duration: 0.2s; 
    -webkit-animation-duration: 0.2s;
}



/*--------------- catalog popup ends------------*/




@media (max-width: 1920px) {
    .col-price .btn i {
        display: none;
    }

    .col-price .btn {
        line-height: 48px;
        padding-top: 0;
    }
}


@media (max-width: 1174px) {

    .wrapper {
        width: 100%;
        padding: 0 20px;
    }

    .nav-wrap .nav {
        width: 690px;
    }

    .nav__item {
        padding: 0 8px;
    }

    .logo-field {
        width: 160px;
    }

    .logo-field img {
        max-width: 100%;
    }

    .phone {
        bottom: -81px;
    }

    .nav-wrap-2 .nav {
        width: 640px;
    }

    .nav-wrap-2 .nav__item {
        padding: 0px 8px 0px 7px;
    }

    .nav-wrap-2 .logo-field {
        width: 320px;
    }

    .back-button {
        right: 160px;
    }

    .btn {
        font-size: 12px;
    }

    .col-price .btn i {
        display: block;
    }

    .col-price .btn {
        line-height: 8px;
        padding-top: 14px;
    }

    .learn-more-btn {
        padding-right: 22px;
    }

    .need-help-btn-wrap {
        padding-right: 22px;
    }
}


.has-error{
    border: 2px solid #e70027 !important;
}
