 /**
 * Oscuro: #283035
 * Azul: #03658c
 * Detalle: #c7cacb
 * Fondo: #dee1e3
 ----------------------------------*/
 
 h1{
     font-size: 18px;
 }
 
 html{
		height: 100%;
 }
 
 .comments-container * {
 	margin: 0;
 	padding: 0;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 }

 #avtor{
 width: 418px;
margin: auto;
 }
 
 .comments-container .grup{
	padding: 0 1px 0 1px;
}


 a {
 	color: #03658c;
 	text-decoration: none;
 }

ul {
	list-style-type: none;
}

body {
	font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
	background: #dee1e3;
	height: 100%;
position: relative;
display: flex;
}

/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
	margin: 60px auto 15px;
	width: 768px;
}

.comments-container h1 {
	font-size: 36px;
	color: #283035;
	font-weight: 400;
}

.comments-container h1 a {
	font-size: 18px;
	font-weight: 700;
}

.comments-list {
	margin-top: 30px;
	position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
	content: '';
	width: 2px;
	height: 100%;
	background: #c7cacb;
	position: absolute;
	left: 32px;
	top: 0;
}

.comments-list:after {
	content: '';
	position: absolute;
	background: #c7cacb;
	bottom: 0;
	left: 27px;
	width: 7px;
	height: 7px;
	border: 3px solid #dee1e3;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
	content: '';
	width: 60px;
	height: 2px;
	background: #c7cacb;
	position: absolute;
	top: 25px;
	left: -55px;
}


.comments-list li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.comments-list li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.reply-list {
	padding-left: 88px;
	clear: both;
	margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
	width: 65px;
	height: 65px;
	position: relative;
	z-index: 99;
	float: left;
	border: 3px solid #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	overflow: hidden;
}

.comments-list .comment-avatar img {
	width: 100%;
	height: 100%;
}

.reply-list .comment-avatar {
	width: 50px;
	height: 50px;
}

.comment-main-level:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
	width: 680px;
	float: right;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent #FCFCFC;
	top: 8px;
	left: -11px;
}

.comments-list .comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0,0,0,0.05);
	left: -12px;
}

.reply-list .comment-box {
	width: 610px;
}
.comment-box .comment-head {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
	float: right;
	margin-left: 14px;
	position: relative;
	top: 2px;
	color: #A6A6A6;
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
	color: #03658c;
}

.comment-box .comment-name {
	color: #283035;
	/*font-size: 14px;*/
	font-weight: 700;
	float: left;
	margin-right: 10px;
}

.comment-box .comment-name a {
	color: #283035;
}

.comment-box .comment-head span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.comment-box .comment-content {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
	content: 'admin';
	background: #03658c;
	color: #FFF;
	font-size: 12px;
	padding: 3px 5px;
	font-weight: 700;
	margin-left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
	.comments-container {
		width: 480px;
	}

	.comments-list .comment-box {
		width: 390px;
	}

	.reply-list .comment-box {
		width: 320px;
	}
}

.grup{
	padding: 10px 0px 10px 0px;
	clear: both;
	text-align: justify;
	/* �������� ��� ��������*/
	/* ��������� ��� IE6-7*/
	text-justify: newspaper;
	position:relative
}
.grup:after{
		 width: 100%;
		height: 0;
		visibility: hidden;
		overflow: hidden;
		content: '';
		display: inline-block;
	}
	.grup label{
		color: #777575;
		display: inherit;
	}

	.grup input[type='text'],.grup input[type='password'], .grup select, .grup textarea{
		width: 97%;
		padding: 7px 0px 7px 7px;
	}


	.grup input[type='text'].error{
		background: #D9B2B2;
	}

	.colum2{
		display: inline-block;
		position:relative
	}
	.colum{
		float:left;
	}

	.col50 {
		width: 48%;
	}
	.col30{
		width: 31%;
	}
	.col20{
		width: 21%;
	}
	
	.button{
 text-decoration:none; 
 text-align:center; 
 padding:8px 42px !important;
 width:auto !important;
 border:none; 
 -webkit-border-radius:7px 0px 7px 0px;
 border-radius: 7px 0px 7px 0px;
 -moz-border-radius-topleft:7px; 
 -moz-border-radius-topright:0px;
 -moz-border-radius-bottomleft:0px;
 -moz-border-radius-bottomright:7px;  
 font:18px Arial, Helvetica, sans-serif; 
 font-weight:bold; 
 color:#E5FFFF; 
 background-color:#4cc75c; 
 background-image: -moz-linear-gradient(top, #4cc75c 0%, #158a24 100%); 
 background-image: -webkit-linear-gradient(top, #4cc75c 0%, #158a24 100%); 
 background-image: -o-linear-gradient(top, #4cc75c 0%, #158a24 100%); 
 background-image: -ms-linear-gradient(top, #4cc75c 0% ,#158a24 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#158a24', endColorstr='#158a24',GradientType=0 ); 
 background-image: linear-gradient(top, #4cc75c 0% ,#158a24 100%);   
 -webkit-box-shadow:3px 3px 5px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 3px 3px 5px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:3px 3px 5px #bababa, inset 0px 0px 1px #ffffff;  
  cursor:pointer;
 text-shadow: 0px 0px 7px #bababa; 
 filter: dropshadow(color=#bababa, offx=0, offy=0); 
 
 }

 .button:hover{ 
	 background-color:#3F984B; 
	 background-image: -moz-linear-gradient(center top , #3F984B 0%, #1FA130 100%); 
	 background-image: -webkit-linear-gradient(top , #3F984B 0%, #1FA130 100%); 
	 background-image: -o-linear-gradient(top , #3F984B 0%, #1FA130 100%); 
	 background-image: -ms-linear-gradient(top , #3F984B 0%, #1FA130 100%); 
	
 }
 
 .rt.error {
    font-size: 12px;
    color: #7E7E7E;
    position: absolute;
    background: none repeat scroll 0% 0% #EEE;
    padding: 3px;
    border-radius: 1px;
}